footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0 20px 0;
    background-color:#099DB1;
    position: relative;
    color: white;
    text-align: center;
    height:50px;
}
    footer nav{
        margin: 0 auto;
        justify-content: center;
    }
       footer nav  a{
            color: #fff;
           
        }
        @media screen and (max-width: 460px){
            flex-direction: column;
        }
        
    