.form-container{
    width: 400px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.form-name{
    font-size: 2em;
    color:lightgray;
    margin: 10px auto;
    padding: 20px;
    margin-left: 20%;
}
.form-input{
    font-size: 2em;
    color:gray;
    border: 1px  solid lightgray;
}
.form-button{
    background-color:#099DB1;
    width: 120px;
    height: 60px;
    font-size: 1.2em;
    border-radius: 10px;
    color:white;
    margin-left: 25%;
}
.signup{
    margin-left: 45%;
}
.form-group{
    padding-top: 10px;
}
.form-input-signup{
    font-size: 1.1em;
    color:gray;
    height: 40px;
    width: 350px;
    margin-left: 30%;
    border: 1px  solid lightgray;
}
.form-horizontal{
    margin-left: 20px;
}
@media screen and (max-width: 780px) {
    
}
@media screen and (max-width: 480px) {
    .form-input-signup{
        margin-left: 0;
        width: 90%;
    }
    .form-name{
        margin-left: 0;
    }
    .signup{
        margin-left: 25%;
    }
    .landing{
        margin-left: 25%;
    }
    .form-container{
        width: 100%;
    }
}